# dependencies
website/node_modules/
node_modules/

# next.js
website/.next/
website/out/

# production
website/build/

# misc
.DS_Store
*.pem
Thumbs.db

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env
.env*.local

# vercel
website/.vercel/

# typescript
*.tsbuildinfo
website/next-env.d.ts

# OS / editor
.idea/
.vscode/
*.swp
